################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DroidBLE/bin/Debug
/DroidBLE/obj
/packages
